<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Create Account</h1>
    <form action="/create" method="post">
        <!-- phone -->
        <input class="form-control" type="text" id="phone" name="phone" placeholder="phone">
        <!-- pass -->
        <input class="form-control" type="password" id="pass" name="pass" placeholder="password">
        <!-- status -->
        <input class="form-control" type="text" id="status" name="status" placeholder="status">
        <!-- create-at -->
        <button type="submit" value="Create Account">Create Account</button>
    </form>   
    <h1>Đăng nhập</h1> 
    <form action="/login" method="post">
        <!-- phone -->
        <input class="form-control" type="text" id="phone" name="phone" placeholder="phone">
        <!-- pass -->
        <input class="form-control" type="password" id="pass" name="pass" placeholder="password">
        <!-- status -->
        <button type="submit" value="Login">Login</button>
</div>
</body>
</html>